* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 13px;
}

body {
    font-family: Helvetica, Sans-Serif !important;
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
    cursor: pointer;
}

a:hover {
    // color: $txt-second-color !important;
    opacity: 0.8 !important;
}

img {
    max-width: 100%;
}

.container-layout {
    min-height: 96vh;
    margin-top: $main-layout-marginTop;
    background-color: $second-bg;
}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val !important;
    }

    .bg-#{$color} {
        background-color: $val !important;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
  .separator-#{$val} {
    height: #{$val}px !important;
  }
}

.txt-red {
  color: $mall-common-color !important;
}

.txt-orange {
  color: $txt-third-color !important;
}

.container {
    width: 100%;
    max-width: 1200px !important;
    padding: 0 !important;
    margin: auto;
}

.logo-wrapper {
  width: 162px !important;
  height: 50px !important;
  img {
    width: 100% !important;
    height: auto !important;
  }
}

.separator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn--s {
  height: 34px !important;
  padding: 0 15px !important;
  min-width: 60px !important;
  max-width: 190px !important;
}

.btn--m {
  height: 40px !important;
  padding: 0 20px !important;
  min-width: 70px !important;
  max-width: 220px !important;
}

.btn--l {
  height: 40px !important;
  padding: 0 20px !important;
  min-width: 300px !important;
  max-width: 400px !important;
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;
}

.grid {
    display: grid;
}

.flex {
  display: flex !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.form-control:focus {
    outline: none !important;
    -webkit-appearance: none;
}

.dunk-input {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    appearance: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    &::placeholder {
        opacity: 0.4;
    }
}

.dunk-divider {
    margin: 0;
    color: #808080;
}

.btn-dunk {
    outline: none;
    border: none;
    border-radius: 16px;
    width: 100%;
    height: 45px;
    background-color: $main-color;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $txt-link-active;
    }
}
.text-danger {
    padding-top: 7px;
    font-size: 12px;
}

.sale-percent-banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  background-color: $sale-banner-color;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 4px 2px 3px;
  text-align: center;
  &::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent $sale-banner-color;
    border-style: solid;
    border-width: 0 18px 4px;
  }

  span:nth-child(1) {
    color: $txt-third-color;
  }

  span:nth-child(2) {
    color: $txt-white;
    text-transform: uppercase;
  }
}

.sale-bottom-banner {
  position: absolute;
  bottom: 0;
}

.play-button-onBanner {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  color: #333;
}

.btn-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @each $color, $val in $colors {
    &.btn-#{$color} {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-transform: capitalize;
        color: $val !important;
        min-width: 350px;
        outline: none !important;
        border: none !important;
        &.button-hover:hover {
          background: rgba(0, 0, 0, .02) !important;
          opacity: 1 !important;
        }
      }
    }
  }
}
