.home-top__banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: $main-bg;
  z-index: 1;

  .top-banner-right {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    gap: 6px;

    img {
      width: 100%;
      object-fit: fill;
      height: calc($top-banner-height / 2);
      border-radius: $border-radius;
    }
  }

  .top-banner-list {
    justify-content: space-around;
    margin: 10px auto 0;

    .top-banner-list__main {
      .banner-icon {
        margin: 18px auto 8px;
        width: 45px;
        height: 45px;
      }

      .banner-title {
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.1rem;
        max-width: 100px;
        margin-bottom: 8px;
        word-wrap: break-word;
        overflow: hidden;
        white-space: pre-line;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}

.home {
  position: relative;
  padding-bottom: 70px !important;
  .categories-wrapper {
    padding-top: calc($nav-search-height + $top-banner-height + $top-nav-height + $main-layout-marginTop + 5px);
    .container-wrapper {
      background: $main-bg;
      .section__title {
        border-bottom: 1px solid $border-color;
      }
      .image-carousel__item-list {
        padding: 0;
        margin: 0;
      }
    }
  }
  .flash-sale-wrapper {
    .container-wrapper {
      background: $main-bg;
      .flash-sale-title {
        padding-left: 16px;
        width: 114px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        display: inline-block;
        background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/fb1088de81e42c4e538967ec12cb5caa.png) 50% no-repeat;
        background-size: contain;
      }
    }
  }
  .stack-banner-wrapper{
    .container-wrapper {
      background: $main-bg;
      .container-list {
        position: relative;
        .click-section {
          display: flex;
          justify-content: space-between;
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          a {
            width: 33.33%;
          }
        }
      }
    }
  }
  .homepage-mall-wrapper {
    .container-wrapper {
      background: $main-bg;
      .section__title {
        border-bottom: 1px solid $border-color;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        a:hover {
          opacity: 1 !important;
        }
        .title-container {
          display: flex;
          align-items: center;
          &>a {
            color: $mall-common-color !important;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 500;
          }
          .title-list {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid #d8d8d8;
            &>div {
              display: flex;
              align-items: center;
              margin-right: 15px;
              font-size: 16px;
              img {
                width: 17px;
                height: 17px;
                margin-right: 6px;
              }
            }
          }
        }
      }
    }
  }
  .top-search-wrapper {
    .container-wrapper {
      background: $main-bg;
      .section__title {
        border-bottom: 1px solid $border-color;
        .top-search__title-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          h1 {
            color: $txt-third-color;
          }
        }
        .view-all {
          a {
            &>div {
              text-transform: capitalize;
              background: none !important;
              color: $txt-third-color !important;
              font-size: 14px;
            }
          }
        }
      }
      .image-carousel-wrapper {
        padding-top: 20px;
      }
    }
  }
  .today-suggest-wrapper {
    .container-wrapper {
      .section__title {
        background: $main-bg;
        width: 100%;
        justify-content: center; 
      }
      .section__body {
        ul {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          row-gap: 5px;
          padding-top: 5px !important;
          li { 
            width: calc(100% / 6);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            a {
              margin: 0;
              padding: 0;
              background: $main-bg;
              &>div:first-child {
                position: relative;
                .item-favorite {
                  color: #fff;
                  background: rgb(242, 82, 32);
                  position: absolute;
                  left: 0;
                  top: 0.625em;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  height: 14px;
                  &>div {
                    padding: 0 4px;
                    span {
                      font-size: 12px;
                    }
                    &::before {
                      content: "";
                      display: inline-block;
                      position: absolute;
                      left: 0;
                      bottom: -0.1875rem;
                      border-top: 0.1875rem solid;
                      border-left: 0.1875rem solid transparent;
                      filter: brightness(60%)
                    }
                  }
                }
              }
              &>div:nth-child(2) {
                padding: 8px;
                &>div:first-child {
                  font-size: 12px;
                  word-wrap: break-word;
                  white-space: normal;
                  overflow: hidden;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2
                }
                &>div:nth-child(2) {
                  display: flex;
                  align-items: center;
                  font-size: 10px;
                  margin-top: 4px;
                  padding-left: 5px;
                  &>div {
                    position: relative;
                    background: rgb(246, 145, 19);
                    color: $txt-white  !important;
                    &>div {
                      position: absolute;
                      background: rgb(246, 145, 19);
                      top: 0;
                    }
                    &>div:nth-child(1) {
                      right: -5px;
                      width: 5px;
                    }
                    &>div:nth-child(2) {
                      left: -5px;
                      width: 5px;
                      transform: rotate(180deg);
                    }
                  }
                }
                &>div:nth-child(3) {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-top: 8px;
                  &>div:first-child {
                    color: $txt-third-color;
                    &>span:first-child {
                      font-size: 12px;
                    }
                    &>span:nth-child(2) {
                      font-size: 16px;
                    }
                  }
                  &>div:nth-child(2) {
                    font-size: 12px;
                    color: $txt-link-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// css view all
 .view-all {
   display: flex;
   align-items: center;
   a {
    display: flex;
    align-items: center;
    font-size: 14px;
    &>div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      width: 18px;
      height: 18px;
      font-size: 10px;
      background: $mall-common-color;
      color: $txt-white;
      border-radius: 50%;
    }
   }
 }