.carousel-column-price {
  .progress {
    height: 16px;
    width: 100%;
    border-radius: 8px;
    background: #ffbda6;
    position: relative;
    overflow: visible;
    .progress-bar {
        background: $background-progress  !important;
        .sale-amount {
          position: absolute;
          display: flex;
          justify-content: center;
          width: 100% !important;
          text-transform: uppercase;
          font-size: 12px !important;
          color: $txt-white  !important;
        }
        .fire-streak {
          position: absolute;
          top: -8px;
          left: 4px;
          background: $fire-streak no-repeat center 80%;
          background-size: contain;
          width: 18px;
          height: 21px;
        }
      }
  }
}