.section {
  &:not(:first-child) {
    padding-top: 20px;
  }
  &__title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    h1 {
      font-size: 16px;
      color: rgba(0, 0, 0, .54);
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}