$main-bg: #fff;
$second-bg: #f5f5f5;
$footer-main-bg: #fbfbfb;
$main-color: #1c1c1c;
$main-header-color:(-180deg,#f53d2d,#f63);

$txt-main-color: #333;
$txt-second-color: #82b7dc;
$txt-third-color: #ee4d2d;
$txt-link-color: rgba(0, 0, 0, .54);
$txt-white: #fff;
$txt-link: #f1f1f1;
$txt-link-active: #114084;

$border-color: rgba(0, 0, 0, .05);
$footer-border-color: rgba(0, 0, 0, .09);
$sale-banner-color: rgba(255, 212, 36, .9);
$mall-common-color: #d0011b;
$background-progress: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/ac7f81d9ee062223753413ec98497a86.png);
$fire-streak: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/f5233259f90b05efbf3867f564628853.png);
$icon-top-search: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/06720e49514cbd94b7552496b4de454a.png);

$btn-main-bg: $main-color;
$btn-main-color: #f1f1f1;

$header-height: 70px;
$header-tablet-height: 70px;
$header-mobile-height: 60px;
$header-shrink-height: 70px;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

$top-banner-height: 280px;
$top-nav-height:34px;
$main-layout-marginTop: 30px;
$nav-search-height: 85px;
$total-banner-height: 400px;
$gap-banner-right: 6px;
$border-radius: 2px;

$colors: (
  'blue': #4267b2,
  'orange': #ee4d2d,
  'pink': #fe7e73,
  'white': #fff,
  'gray':#555,
  'black': #000,
  'red': #d0011b,
  'yellow': #ffff00,
  'green': green,
  'main': $main-color,
);

$mobile-width: 480px;
$medium-screen: 768px;
$large-screen: 1024px;
$tablet-width: 1200px;

$numbers: (
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8
);